{% load static i18n %}
<!DOCTYPE html >
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="light" data-topbar-color="light" data-menu-color="light" {% block html_attribute %}{% endblock html_attribute %}>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>
    {% block title %}Painel Administrativo{% endblock title %} | Vakaria Barbearia
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vakaria — Loja de Moda Multimarcas Feminina e Masculina. Drops e catálogo em Cajazeiras-PB."/>
  <meta name="author" content="Vakaria"/>
  <!-- App favicons -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
  <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
  {% block css %}
    {% block extra_css %} {% endblock extra_css %}
    {% include 'partials/head-css.html' %}
  {% endblock css %}
</head>
<body {% block body_attribute %}{% endblock body_attribute %}>
{% block preloader %}{% endblock %}
{% block content %}{% endblock content %}

{% include 'partials/whatsapp-floating.html' %}

{% block javascript %}
  {% include 'partials/vendor-scripts.html' %}
  {% block extra_javascript %} {% endblock extra_javascript %}
{% endblock javascript %}
</body>
</html>